/* Variables */

:root {
    --color-white: #ffffff;
    --color-primary: #191d2b;
    --color-secondary: #27ae60;
    --color-nav-1: #ffffff;
    --color-content-1: #000000;
    --color-content-2: #E42256FF;
    --color-content-3: rgb(255, 255, 255);
}

.light-mode {
    --color-white: #ffffff;
    --color-primary: #ffffff;
    --color-secondary: #f56692;
    --color-nav-1: #03045E;
    --color-content-1: #ffffff;
    --color-content-2: #E42256FF;
    --color-content-3: rgb(0, 0, 0);
}

/* start: Global configs */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    color: white;
    background-color:  var(--color-content-1);
    transition: all 0.4s ease-in-out;
    font-family: 'Overpass', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

a {
    color: var(--color-nav-1);
    font-family: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

p {
    word-break: normal;
    white-space: normal;
}

/* end: Global configs */

/* Navigation menu */

/* .controls .controls-wrapper {
    display: flex;
    gap: 0.5em;
    font-weight: bold;
}

.controls-wrapper .active-btn {
    font-weight: bold;
    color: var(--color-content-2);
    transition: all 0.4s ease-in-out;
}

.footer-controls .active-btn {
    font-weight: bold;
    color: var(--color-content-2);
    transition: all 0.4s ease-in-out;
} */

/* start: header styles */
/* #navigation .flex .container {
    display: flex;
    justify-content: space-between;
}

#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
  }
  
  header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  #logo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 4px;
  }
  
  .hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
  }
  
  .hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
  }
  
  header ul {
    list-style-type: none;
  }
  
  header ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  #close-flyout {
    display: none;
  }
  
  header ul li a {
    color: #999;
    font-size: 16px;
    text-decoration: none;
  }
  
  header ul.is-sticky li a {
    color: #000;
  }
  
  header ul li a:hover,
  header ul li a.active {
    color: #fff;
  }
  
  header ul.is-sticky li a:hover,
  header ul.is-sticky li a.active {
    color: #2eca6a;
  } */

/* end: header styles */

/* start: Theme switcher */

/* .sub-content-header {
    padding-top: 10px;
}

.theme-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.theme-btn i {
    font-size: 1.4rem;
    pointer-events: none;
    color: var(--color-content-2);
} */

/* end: Theme switcher */

/* Footer */

#footer {
    margin: 1em;
}

.site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.site-footer .copyright-text {
    margin-top: 1rem;
}

.site-footer .copyright-text time {
    color: var( --color-white);
}

.site-footer .contact-icon {
    display: flex;
    margin-top: 1rem;
}

.site-footer .contact-icon a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-content-2);
    cursor: pointer;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
}

.site-footer .contact-icon a:hover {
    background-color: var(--color-content-1);
}

.site-footer .contact-icon a:hover i {
    color: var(--color-content-2);
}

.site-footer .contact-icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

/* back to top icon */
.site-footer .back-to-top-icon {
    background-color: var(--color-content-2);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
}

.site-footer .back-to-top-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer .footer-controls ul li a {
    padding: 5px;
}

section {
    padding: 20px;
    color: var(--color-content-3);
}

section .banner {
    color: wheat;
    height: 50px;
    width: 50px;
}

.form2 {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 50px;
    margin: 20px 0;
}

.form1 {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 50px;
    margin: 20px 0;
    width: 700px;
    margin-left: 250px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

form p {
    color: #6b6ddf;
    font-size: 35px;
    font-weight: bold;
}

.form1-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.form1-row input[type="text"] {
    border-radius: 50px;
    width: 350px;
    padding: 10px;
}

.form1-row input[type="submit"] {
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    background-color: #6b6ddf;
    color: #ffffff;
    font-weight: bold;
    font-size: medium;
}

.form2-row input[type="text"],
.form2-row input[type="date"],
.form2-row input[type="address"],
.form2-row select{
    border: 2px solid blue;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    width: 300px;
    box-shadow: rgba(229, 255, 0, 0.2) 0px 2px 8px 0px;
}

.form2-row input[type="text"]:focus:invalid {
    border: 4px solid red;
    color: red;
    outline: none;
}

.form2-row label {
    margin-bottom: 15px;
    color: purple;
}

.form2-row input[type="submit"]{
    border: 2px solid blue;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    width: 300px;
}

#form-submit {
    display: flex;
    justify-content: flex-end;
}