@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* start: Variables */
:root {
  --color-content-1: #BA94D1;
  --color-content-2: rgb(255, 255, 255);
  /* --color-content-3: #282A3A; */
  --color-content-3: #249716;
  --color-content-5: #3A8891;
  --color-content-6: #702f59;
  --color-content-7: #B01E68;
}

.light-mode {
  --color-content-1: #ffffff;
  --color-content-2: rgb(0, 0, 0);
  /* --color-content-3: #CF0A0A; */
  --color-content-3: #249716;
  --color-content-5: #3A8891;
  --color-content-6: #702f59;
  --color-content-7: #B01E68;
}
/* end: Variables */

/* start: global styles */
body {
  background-color: var(--color-content-1);
  font-family: 'Overpass', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-content-3);
  line-height: 1.7;
}

* {
  outline: none;
}

*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: inherit;
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  color: #2eca6a;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  font-family: inherit;
}

p {
  margin: 0 0 1rem;
}

button.rounded {
  background: #2eca6a;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.5;
  cursor: pointer;
}

p.large-paragraph {
  font-size: 1.25rem;
  font-weight: 300;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
  min-height: 100px;
  position: relative;
}

header {
  background: transparent;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

#logo-text {
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--color-content-3);
  text-decoration: none;
  position: relative;
  top: 4px;
}

#logo {
  width: 150px;
}

.hamburger-menu {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 3px 5px;
  width: 30px;
  cursor: pointer;
  margin-top: 10px;
  display: none;
}

.hamburger-menu .strip {
  display: block;
  height: 1px;
  background-color: #fff;
  margin: 4px 0;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 15px;
}

#close-flyout {
  display: none;
}

header ul li a {
  color: var(--color-content-3);
  font-size: 19px;
  text-decoration: none;
  font-weight: bolder;
}

header ul.is-sticky li a {
  color: #000;
}

header ul li a:hover,
header ul li a.active {
  color: var(--color-content-2);
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
  color: #2eca6a;
}
/* end: header styles */

/* start: Scroll bar */
/* ::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--color-content-1);
}

::-webkit-scrollbar-thumb {
  background: var(--color-grey-2);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-4);
} */
/* end: Scroll bar */

/* start: search content styles */
#search-content {
  background-color: #fff;
  position: relative;
  /* border-radius: 100px; */
  margin: 0px 50px 0px 50px;
}

#search-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
}

#search-content .search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

#search-content .search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #7d7e877a;
  /* border-radius: 40px; */
  padding: 50px 25px 50px 25px;
}

#search-content .search-box .search-box-element input,
#search-content .search-box .search-box-element select, 
#search-content .search-box .search-box-submit button {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgb(191 79 205 / 82%);
  margin-left: 25px;
  height: 50px;
  font-size: large;
  text-align: center;
}

#search-category {
  width: 500px;
}

#property-type, 
#location {
  width: 150px;
}

#search-content .search-box-submit button {
  background-color: var(--color-content-5);
  color: var(--color-content-2);
  font-weight: bolder;
  width: 150px;
}
/* end: search content styles */

/* start: properties content styles */
#properties-content {
  padding: 1rem 0 5rem;
  padding-top: 50px;
}

#properties-content .properties-card {
  /* width: 240px; */
  padding: .5rem, .5rem, 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  transition: .4s;
}

#properties-content img {
  border-radius: 1rem;
  margin-bottom: 1rem;
  /* max-width: 240px; */
  max-height: 200px;
}

.properties-data {
  padding: 0 1rem 0 .5rem;
}

.properties-price {
  color: var(--color-content-3);
  margin-bottom: .25rem;
  font-size: 30px;
}

.properties-price span {
  color: var(--color-content-6);
  font-size: 25px;
}

.properties-title {
  margin-bottom: .75rem;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-content-7);
}

.properties-description {
  font-size: small;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-content-5);
}

.properties-card:hover {
  box-shadow: 0, 12px, 16px, hsla(288, 66%, 45%, .1);
}

.flex-direction {
  display: flex;
  margin-left: 25px;
}
/* end: properties content styles */

/* start: media queries */
@media (max-width: 991px) {
  #logo {
    top: 1px;
  }

  #nav-toggle {
    display: block;
  }

  nav ul {
    position: fixed;
    background: #fff;
    right: -100%;
    top: 0;
    margin: 0;
    padding: 2rem;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 5px 0 10px 3px #999;
  }

  #close-flyout {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 30px;
    color: #777;
    cursor: pointer;
    display: block;
    line-height: 1;
    margin: 0;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
  }

  nav ul li:first-child {
    margin-top: 50px;
  }
  nav ul li a {
    font-size: 20px;
    color: #212529;
  }

  nav ul li a.active,
  nav ul li a:hover {
    color: #2eca6a;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .large-paragraph {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .container {
    max-width: 540px;
  }

  #hero .hero-text {
    width: 400px;
  }

  #agents .card {
    width: 49%;
  }

  #the-best .flex > img {
    display: none;
  }

  #the-best .flex > div {
    width: 100%;
  }

  #testimonials-slider p {
    font-size: 1.2rem;
  }

  #properties .container:before {
    top: 2px;
    font-size: 0.85rem;
  }

  #properties-slider a.slick-arrow {
    font-size: 0.85rem;
  }

  #properties button.rounded {
    width: 300px;
  }

  #services .flex > div {
    width: 48%;
  }

  #contact .flex {
    flex-wrap: wrap;
  }

  #form-container {
    width: 100%;
    padding: 2rem;
  }

  #address-container {
    width: 100%;
    margin-top: 2rem;
  }

  footer {
    padding: 6rem 0;
  }

  footer .flex {
    flex-wrap: wrap;
  }

  footer .flex > div {
    width: 100%;
    margin-top: 1rem;
  }

  footer .flex > div:first-child {
    margin-top: 0;
  }

  footer .footer-about p {
    font-size: 1rem;
    width: 100%;
  }

  footer .footer-subscribe input {
    width: 90%;
  }

  footer h5.follow-us {
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  #hero .hero-text {
    width: 330px;
  }

  #agents {
    margin: 4rem 0 3rem;
    padding: 0 0 3rem;
  }

  #agents .card {
    width: 100%;
  }

  #agents p.large-paragraph {
    width: 100%;
  }

  #how-it-works .flex {
    display: block;
  }

  #how-it-works .flex > div {
    width: 100%;
    margin-top: 2rem;
  }

  #properties button.rounded {
    width: 250px;
  }

  #services {
    padding: 4rem 0 3rem;
    margin: 4rem 0;
  }

  #services .flex > div {
    width: 100%;
  }

  #testimonials {
    margin-bottom: 4rem;
  }

  #testimonials-slider p {
    font-size: 1rem;
  }

  #testimonials-slider .slick-arrow {
    display: none !important;
  }

  #contact {
    padding: 4rem 0;
  }

  #contact h2 {
    margin-bottom: 2rem;
  }

  #form-container {
    padding: 1.5rem;
  }

  footer {
    padding: 4rem 0;
  }
}

@media (max-width: 400px) {
  #hero .hero-text {
    max-width: 275px;
    width: 100%;
  }

  #properties button.rounded {
    max-width: 250px;
    width: 100%;
  }

  nav ul {
    width: 200px;
  }
}
/* end: media queries */
